
# Misc project files
todo.md
*tmp*

# the actual git config
git/gitconfig.symlink

# dotfile vendor libs
vendor
vendor/*

# sublime settings
sublime/User/*
!sublime/User/*.sublime-settings
!sublime/User/*.sublime-keymap

# atom settings
atom/atom.symlink/*
!atom/atom.symlink/config.cson
!atom/atom.symlink/init.coffee
!atom/atom.symlink/keymap.cson
!atom/atom.symlink/snippets.cson
!atom/atom.symlink/styles.less
!atom/atom.symlink/packages.cson
