/*
 * Custom Atom Styles
 */

// Make any modified files bold in the sidebar
.tree-view .entry.directory.status-modified > .header,
.tree-view .entry.file.status-modified {
  font-weight: bold;
}

// Make material-ui sidebar a bit tighter
.tree-view {
  .name.icon::before {
    margin-right: .5rem;
  }
  .list-tree {
    li:not(.list-nested-item):not(.tabBlender),
    li.list-nested-item > .list-item {
      line-height: 2.5;
    }
  }
  .list-group .selected::before, .list-tree .selected::before {
    height: 25px;
  }
}

.tab-bar .tab {
  -webkit-flex: 1;
  flex: 1;
  min-width: 10%;
}

// Show solid VCS dot on left of tab-bar if file is modified but not saved
// .tab-bar {
//   .tab .title[class*="status-"] {
//     padding-left: 1.5rem;
//     &:after {
//       content: "";
//       height: 8px;
//       width: 8px;
//       border-radius: 8px;
//       background: #FFCA28;
//       position: absolute;
//       font-family: "Octicons Regular";
//       font-size: 16px;
//       margin-top: -2px;
//       top: 50%;
//       left: 0;
//     }
//   }
// }
